body {
    background-color:#fce7f3;
    color: #db2777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    color: #9d174d;
}

header {
    background-color: #fbcfe8;
}